<div class="card user-card">
<div class="card-body">
<div *ngIf="editing; else viewMode">
<input [(ngModel)]="model.name" class="form-control mb-2" placeholder="Nombre" />
<input *ngIf="type === 'user'" [(ngModel)]="model['username']" class="form-control mb-2" placeholder="Usuario" />
<input *ngIf="type === 'user'" [(ngModel)]="model['email']" class="form-control mb-2" placeholder="Email" />
<div class="d-flex gap-2">
<button class="btn btn-success btn-sm" (click)="save()">Guardar</button>
<button class="btn btn-secondary btn-sm" (click)="toggleEdit()">Cancelar</button>
</div>
</div>


<button class="btn btn-info btn-sm" type="button" (click)="onViewDetails.emit(entity._id!)">
Ver detalles
</button>


<ng-template #viewMode>
  <ng-container *ngIf="entity">
    <h5>{{ entity.name }}</h5>
    <p *ngIf="type === 'user'" class="mb-1">{{ entity['username'] }}</p>
    <p *ngIf="type === 'user'" class="mb-2">{{ entity['email'] }}</p>
    <div class="d-flex gap-2">
      <button class="btn btn-dark btn-sm" type="button" (click)="toggleEdit()">Editar</button>
      <button class="btn btn-danger btn-sm" type="button" (click)="remove()">Eliminar</button>
    </div>
  </ng-container>
</ng-template>

</div>
</div>
