<div class="modal fade show d-block" tabindex="-1" *ngIf="visible" style="background-color: rgba(0,0,0,0.5)">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">{{ title }}</h5>
<button type="button" class="btn-close" (click)="onClose.emit()"></button>
</div>


<div class="modal-body">
<ng-container *ngIf="mode === 'confirm'; else formTemplate">
<p>¿Estás seguro de que deseas eliminar este {{ type }}?</p>
</ng-container>


<ng-template #formTemplate>
<form *ngIf="mode !== 'view'; else viewTemplate">
<input [(ngModel)]="model.name" name="name" placeholder="Nombre" class="form-control mb-2" />
<input *ngIf="type === 'user'" [(ngModel)]="model['username']" name="username" placeholder="Usuario" class="form-control mb-2" />
<input *ngIf="type === 'user'" [(ngModel)]="model['email']" name="email" placeholder="Email" class="form-control mb-2" />
<input *ngIf="type === 'user' && mode === 'create'" [(ngModel)]="model['password']" name="password" placeholder="Contraseña" type="password" class="form-control mb-2" />
<input *ngIf="type === 'category'" [(ngModel)]="model['description']" name="description" placeholder="Descripción" class="form-control mb-2" />

<!-- modal.component.html -->
<textarea *ngIf="type === 'product'" [(ngModel)]="model['description']" name='pdescription' class="form-control mb-2" placeholder="Descripción"></textarea>
<input *ngIf="type === 'product'" [(ngModel)]="model['price']" name='pprice' type="number" class="form-control mb-2" placeholder="Precio" />
<select *ngIf="type === 'product'" [(ngModel)]="model['category']" name="pcategory" class="form-select mb-2">
  <option *ngFor="let cat of categories" [value]="cat._id">{{ cat.name }}</option>
</select>

</form>


<ng-template #viewTemplate>
  <div class="mb-2"><strong>Nombre:</strong> {{ model.name }}</div>

  <ng-container *ngIf="type === 'user'">
    <div class="mb-2"><strong>Usuario:</strong> {{ model['username'] }}</div>
    <div class="mb-2"><strong>Email:</strong> {{ model['email'] }}</div>
  </ng-container>

  <ng-container *ngIf="type === 'category'">
<div *ngIf="type === 'category'" class="mb-2"><strong>Descripción:</strong> {{ model['description'] }}</div>
  </ng-container>

  <ng-container *ngIf="type === 'product'">
    <div class="mb-2"><strong>Precio:</strong> {{ model['price'] }}</div>
    <div class="mb-2"><strong>Categoría:</strong> {{ model['category']?.name }}</div>
  </ng-container>
</ng-template>

</ng-template>
</div>


<div class="modal-footer">
<button class="btn btn-secondary" (click)="onClose.emit()">Cerrar</button>
<button *ngIf="mode !== 'view'" [ngClass]="{ 'btn': true, 'btn-danger': danger, 'btn-primary': !danger }" (click)="confirm()">
{{ mode === 'confirm' ? 'Eliminar' : 'Guardar' }}
</button>
</div>
</div>
</div>
</div>
