<!-- main-layout.component.html -->

<c-sidebar  visible #sidebar1="cSidebar" class="border-end">
  <c-sidebar-header class="border-bottom">
    <c-sidebar-brand>Global Triangles Test</c-sidebar-brand>
  </c-sidebar-header>

  <c-sidebar-nav [navItems]="navItems" />

  <c-footer>
      <span>Developed by Gerardo Regalado</span>
  </c-footer>
</c-sidebar>

<div class="wrapper d-flex flex-column min-vh-100 bg-light" style="margin-left: 250px">
  <main class="main-content flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </main>
</div>


